*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----CABEÇALHO-----*/

/*-----PARTE PRINCIPAL-----*/

main img{
    width: 300px;
    height: 300px;
    margin: 20px;
}
main a{
    display: flex;
    justify-content: center;
}
h2{
    color: white
}
.local{
    text-align: center;
    color: white;
}


/* -------RODAPÉ------- */
#redesSoc{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    /* flex-direction: column; */
}
#cima{
    display: flex;
    align-self: flex-end;
    color: white;
}
p{
    color: white;
}