*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* -------CABEÇALHO -------*/

/* ---PARTE PRINCIPAL--- */
main{
    width: 100%;
    height: 100%;
}
#tamanho p{
    width: 100%;
    height: 30%;
    font-size: large;
}
#espaco img{
    margin-top: 15px;
    width: 100%;
    height: 80%;
}
#fotos{
    display: flex;
    justify-content: space-around;
}
#fotos img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
#texto{
    margin: 10px;
    font-size: large;
    display: flex;
    justify-content: space-around;
}
h2{
    font-family: "Lilita One", sans-serif;
}

/* -------RODAPÉ------- */
#redesSoc{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
#cima{
    display: flex;
    align-self: flex-end;
}