*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #e2aeee;
    background: radial-gradient(circle, rgba(226, 174, 238, 0.6) 0%, rgba(148, 233, 230, 0.66) 100%);
}

/* -------CABEÇALHO -------*/
header{
    width: 100%;
    background-color: #bb84ee;
    display: flex;
    font-family: "DM Sans", sans-serif;
}
#logo{
    width: 20%;
    background-color: #bb84ee;
    display: flex;
    justify-content: center;
}
#logo img{
    border-radius: 5px;
}
#banner h1{
    width: 100%;
    text-align: center;
    margin-top: 10px
}
#banner{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
ul li{
    width: 100px;
    border-radius: 20px;
    background-color: rgb(180, 67, 224);
    text-align: center;
    padding: 10px 0;
}


/* -------PARTE PRINCIPAL------- 
-----RESTAURANTES-----*/
#mcDo{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    font-family: "Protest Riot", sans-serif;
}
#fundoMc{
    background-color: rgba(220, 20, 60, 0.39);
    width: 100%;
}
#bK{
    display: flex;
    justify-content: center;
}
#fundoBk{
    background-color: rgba(220, 167, 20, 0.39);
    width: 100%;
}
#sub{
    display: flex;
    justify-content: center;
}
#fundoSub{
    background-color: rgba(53, 190, 76, 0.39);
    width: 100%;
}
#kfc{
    display: flex;
    justify-content: center;
}
#fundoKfc{
    background-color: rgba(190, 147, 53, 0.39);
    width: 100%;
}
#pizHut{
    display: flex;
    justify-content: center;
}
#fundoHut{
    background-color: rgba(0, 0, 0, 0.39);
    width: 100%;
}
.margem{
    margin-top: 20px;
}
main{
    margin-top: 20px;
    align-items: center;
}

/* -------RODAPÉ------- */
#redesSoc{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    /* flex-direction: column; */
}
#cima{
    display: flex;
    align-self: flex-end;
}