*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----CABEÇALHO-----*/

/*-----PARTE PRINCIPAL-----*/
main img{
    width: 250px;
    height: 333px;
    margin: 10px;
}
.textoEspa{
    margin: 20px;
}
#chan{
    display: flex;
}
#leeSabe{
    display: flex;
}
#binnie{
    display: flex;
}
#hyun{
    display: flex;
}
#han{
    display: flex;
}
#felix{
    display: flex;
}
#seung{
    display: flex;
}
#in{
    display: flex;
}
main p{
    font-size: large;
}

/* -------RODAPÉ------- */
#redesSoc{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    /* flex-direction: column; */
}
#cima{
    display: flex;
    align-self: flex-end;
}